@font-face {
  font-family: 'EmigreTitulo';
  src: url('/fonts/Emigre-Titulo.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'EmigreTxt';
  src: url('/fonts/Emigre-Txt.otf') format('opentype');
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}